In [1]:
# Import necessary modules
import geopandas as gpd
from shapely.geometry import Polygon, mapping
import json
import pandas as pd
import math


from helper_functions import cart_to_polar, get_intersection
from data_processing import load_data, plot_data, get_left_and_right_bound, trim_datasets
from helper_functions import get_area, get_distance

In [2]:
# Set filepath
suburban = "Data/Suburban 2006.shp"

# Read file using gpd.read_file()
data = gpd.read_file(suburban)

In [3]:
poly_mapped = mapping(data)
poly_coordinates = poly_mapped['features'][0]['geometry']['coordinates'][0]
#coords = [coords[0,1] for coords in poly_coordinates]
lats = [coords[1] for coords in poly_coordinates]
lons = [coords[0] for coords in poly_coordinates]

df = pd.DataFrame({
    'lat':lats,
    'lon':lons})

In [4]:
df_np = df.to_numpy()

In [5]:
degree_list = []
distance_list = []
for x in range(len(df)):
    lat=(df['lat'][x])
    lon=(df['lon'][x])
    hyp = math.hypot(lat, lon)
    if lon >0:
        degree = 90- math.degrees(math.atan(lat/lon))
    else:
        degree = -math.degrees(math.atan(lat/-lon))
    degree_list.append(degree)
    distance_list.append(hyp)
    

df['distance'] = distance_list 
df['degree']=degree_list

In [7]:
df.sort_values('distance')

         lat      lon   distance     degree
5     0.0000  -1.6838   1.683800  -0.000000
7     1.7912  -1.6586   2.441178 -47.201195
6     1.8103  -1.6503   2.449628 -47.647171
8     2.4690  -1.8910   3.109959 -52.551600
9     2.4703  -1.8976   3.115007 -52.469762
..       ...      ...        ...        ...
58   18.9446  -6.1566  19.919879 -71.996919
180   6.9526  18.7447  19.992559  69.649670
179   9.1840  17.7604  19.994441  62.656268
57   18.3196  -8.0149  19.996159 -66.370425
56   16.9887 -10.5726  20.009893 -58.104702

[221 rows x 4 columns]

In [22]:
df.loc[(df['degree']>-40)].sort_values('degree')

        lat     lon  distance     degree
25   2.3814 -2.8703  3.729569 -39.681455
33   3.5714 -4.3407  5.621083 -39.446541
32   3.3671 -4.1474  5.342124 -39.071696
26   2.4413 -3.0323  3.892915 -38.837487
31   3.1020 -3.8852  4.971638 -38.604374
..      ...     ...       ...        ...
220  1.2570  5.4562  5.599122  77.026552
1    1.0047  5.4594  5.551078  79.572462
2    0.7624  5.4647  5.517626  82.057724
3    0.5903  5.4301  5.462091  83.795804
4    0.0000  5.4780  5.478000  90.000000

[135 rows x 4 columns]

In [14]:
df.loc[(df['degree']>-30)&(df['degree']<4)]

        lat     lon  distance    degree
5    0.0000 -1.6838  1.683800 -0.000000
101  6.8700  0.0602  6.870264  0.502055
102  6.8795  0.1682  6.881556  1.400571
103  6.8883  0.2694  6.893566  2.239685
104  6.8966  0.3639  6.906194  3.020418
105  6.9350  0.4671  6.950713  3.853280